.Classes {
  padding: 20px;
  margin: 20px auto;
  width: 80%;
}

.Classes .paper {
  margin-top: 40px;
  padding: 10px;
  text-align: left;
}

footer {
  text-align: center;
  margin-top: 10px;
}

/* studentItem */

.chip {
  margin: 4px;
}

.wrapper {
  display: flex;
  flexWrap: wrap;
}

.edit-buttons {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}

/* classpage */
.question-button {
  width: 100%;
  margin-bottom: 25px;
}

.evaluation-bar {
  height: 40px;
  width: 100%;
  background-color: grey;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
}

.evaluation {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  background-color: red
}
.evaluation-yellow {
  background-color: yellow
}
.evaluation-green {
  background-color: green
}
.evaluation-missing {
  background-color: grey
}

.selected-student {

}
