.Classes {
  padding: 20px;
  margin: 20px auto;
  width: 80%;
}

.Classes .paper {
  margin-top: 40px;
  padding: 10px;
  text-align: left;
}

footer {
  text-align: center;
  margin-top: 10px;
}

/* studentItem */

.chip {
  margin: 4px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.evaluation-buttons {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.edit-buttons {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  margin: 10px;
}

/* classpage */

.question-button {
  width: 100%;
  margin-bottom: 25px;
}

.evaluation-bar {
  height: 40px;
  width: 100%;
  background-color: lightgrey;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
}

.evaluation {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* evaluations */

.radio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start
}

.radio-buttons > div {
  width: auto;
}
.radio-button {
  height: 50px
}

.remarks {
  margin: 10px;
}
